<h1>Rendering XML strings to Angular</h1>

<p>
  <b>Goal:</b> Rendering any XML strings containing <b>known</b> components to Angular!
</p>

<h2>Predefined Components</h2>

<p>
  There are <b>two</b> components available for this example app.
</p>

<h3>
  Gap
</h3>

<div>
  <pre class="angular-string">&lt;app-gap text="{{text}}" (onChange)="updateText($event)"&gt;&lt;/app-gap&gt;</pre>
  <p>
    will yield:
  </p>
  <div>
    <app-gap [text]="text" (onChange)="updateText($event)"></app-gap>
  </div>
</div>


<h3>The Task</h3>
<div>
  
  <pre class="angular-string">&lt;app-task title="some title"&gt;world&lt;/app-task&gt;</pre>
  <p>
    will yield
  </p>
  <app-task title="some title">world</app-task>
</div>

<h3>Mixing the components</h3>
<p>
  The components can be mixed:
</p>
<pre class="angular-string">&lt;app-task title="some title"&gt;bla &lt;app-gap&gt;hello&lt;/app-gap&gt; bla&lt;/app-task&gt;</pre>
should yield
<app-task title="some title">bla <app-gap text="hello"></app-gap> bla</app-task>

<h2>
  Goal: Dynamically compile a string to "Angular"
</h2>

<p>
  Let's assume now the Angular application doesn't know at startup in which combinations the components will occur.
  I need a way to compile such dynamic compositions of components.
</p>
<p>
  So I need a function similar to <span style="color: red">compileToAngular(angularString)</span>.
</p>

<h3>Objective</h3>

<p>
  <b>
    Implement a function like that, such that I could input any string in the textarea below, click compile, and it would render
    the Angular correctly.
  </b>
</p>

<textarea #template
          id=""
          cols="30"
          rows="10"></textarea>
<br>
<button style="padding: 30px; background: orange; font-size: 18px" (click)="compileStringToAngularAndInsert(template.value)">
  Compile
</button>

<div>
  The compiled Angular should appear here:
</div>
<div *dynamicComponent="content"></div>
