pre {
  display: block;
}

.angular-string {
  color: deeppink;
}

html {
  padding: 0;
  background: #4054B2;
  margin: 0;
}

body {
  background: #E8EAF6;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}
